
<div class=container>

<h1>hello from List#show</h1>

<ul>
  <% @Bookmarks.each do |bookmark| %>
    <%# <li><%= list.name%></li>
    <li><%= link_to bookmark.comment, bookmark_path(bookmark.id)%></li>
  <% end %>
</ul>

<%= link_to "back to list", lists_path%>

</div>
